<%= form_with(model: [colum, comment]) do |form| %>
  <h4 class="form-comment_title">コメントを入力</h4>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="comment-field">
    <%= form.text_field :name, placeholder: "名前" %>
  </div>

  <div class="comment-field">
    <%= form.text_area :comment, placeholder: "コメント" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
