<div class= "single-colum_area">
  <h3 class="single-colum_title"><%= @colum.title %></h3>
  <p class="single-colum_author"><%= @colum.name %>さん</p>
  <%= simple_format(@colum.content, class:"single-colum_content") %>
  <p class="single-colum_date"><%= @colum.created_at.strftime("%Y/%m/%d %R") %></p>

  <div id="comments_area">
    <%= render partial: 'comments/index', locals: { comments: @comments, colum: @colum } %>
  </div>

  <%= render partial: 'comments/form', locals: { comment: @comment, colum: @colum } %>
</div>
