<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>JobHunt</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <a href="/">WorkWorkWork</a>
    </header>
    <div class="container">
      <main>
        <%= yield %>
      </main>
      <aside>
        <div id="favorite-colum-list">
          <h4 class="favorite-colum-list_title">みんなが気になる相談</h4>
          <a href = "#" class="favorite-colum-item">サンプル</a>
          <a href = "#" class="favorite-colum-item">サンプルサンプルサンプルサンプル</a>
          <a href = "#" class="favorite-colum-item">サンプルサンプルサンプラサンプラサンプラサンプラサンプラ</a>
        </div>
      </aside>
    </div>
  </body>
</html>
